.goals-title {
    text-align: center;
    font-size: 2.5em;
    color: #C41E3A;
}

.goals-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    gap: 20px;
}

.goals-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
}

.goals-text-left, .goals-text-right {
    background-color: rgba(238, 232, 232, 0.6);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 400px;
}

.goals-text-left p, .goals-text-right p {
    color: #C41E3A;
    margin: 0;
    line-height: 1.5;
    font-size: 22px;
}

.goals {
    padding-bottom: 70px;
}