.card-wrapper {
  width: 80%; 
  max-width: 1100px;
  margin-bottom: 100px;
}

.card-title {
  font-size: 2.5em;
  color: white;
}

.card-main p {
  color: white;
  font-size: 20px;
}

.card-main {
  height: 300px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1.3fr 1.7fr;
  gap: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .14);
  align-items: center;
}
.card-main p{
  font-size: 20px;
}

.card-main img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
