.footer-container {
  padding: 100px 0;
}

#footer-title {
  flex-direction: column;
  margin: 0 auto;
  display: flex; 
  padding: 30px;
}

#footer-title h2 {
  font-size: 50px;
  text-align: center;
  z-index: 4;
}

#footer-title span {
  font-size: 32px;
  color: white;
  text-align: center;
}


#logos {
  display: flex;
  align-items: center;
  animation: 20s linear 0s infinite scroll;
  background-color: rgba(255, 255, 255, .14);
  padding: 40px 0;  
  margin: 0; 
  width: 300%;  
  position: relative;
  left: -50%; 
}

#logos > img {
  padding: 0 50px;
}

#google {
  height: 50px;
}

#apple {
  height: 50px;
}

#microsoft {
  height: 50px;
}

#meta {
  height: 50px;
}

#nvdia {
  height: 50px;
}

#amazon {
  height: 50px;
  transform: translateY(10px)
}

#oracle {
  height: 42px;
}

@keyframes scroll {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-2925px)
  }
}
