#footer-title {
  flex-direction: column;
  margin: 0 auto;
}

#footer-title h2 {
  font-size: 50px;
  text-align: center;
}

#footer-title span {
  font-size: 32px;
  color: rgba(170, 12, 20, 1);
  text-align: center;
}

#logos {
  display: flex;
  align-items: center;
  animation: 20s linear 0s infinite scroll;
  padding: 60px 0;
}

#logos > img {
  padding: 0 50px;
}

#google {
  height: 50px;
}

#apple {
  height: 50px;
}

#microsoft {
  height: 50px;
}

#meta {
  height: 50px;
}

#nvdia {
  height: 50px;
}

#amazon {
  height: 50px;
  transform: translateY(10px)
}

#oracle {
  height: 42px;
}

@keyframes scroll {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-2925px)
  }
}
