header {
    position: fixed;
    width: 100vw;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 200;
}

nav {
    position: absolute;
    right: 0;
    display: flex;
}

.link {
    min-width: 90px;
    text-align: center;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, .14);
    padding: 2px;
}

@media only screen and (max-width: 1300px) {
    header {
        flex-direction: column;
        height: 120px;
    }

    nav {
        position: static;
    }
}

/*
button {
padding: 5px 10px;
background-color: rgba(200, 71, 71, 1);
color: white;
border: 1px solid;
cursor: pointer;
font-size: 20px;
margin-right: 5px;
}

button:hover {
opacity: 0.7;
}
 */
